{
  "singleQuote": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app.css",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "singleAttributePerLine": true
      }
    }
  ]
}
